* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: #41A29D;
  --color-white: #ffffff;
  --color-calculadora: #F7CF00;
  --color-gray: #9E9E9E;
  --color-gray-oscuro: #0092C8;
}

body {
  font-size: 1.5rem;
  background-image: url('../imagenes/bard-simpsom.png');
  background-repeat: no-repeat;
  background-color: var(--color-gray-oscuro);
  background-position-x: 100%;
  background-position-y: bottom;
  background-attachment: fixed;
  display: flex;
  z-index: -1;
}

.calculadora {
  width: 30%;
  margin: 50px auto;
  padding: 20px;
  background-color: var(--color-calculadora);
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, max-min(min(100%, 400px)1fr));
  gap: 10px;
  min-width: 350px;
  border: 10px solid #000000;
  box-shadow: 10px 10px 0px hsl(14, 93%, 53%, 0.5);
}

.cal-imput {
  grid-column: 1 / -1;
  width: 100%;
  height: 80px;
  margin-bottom: 20px;
  background-color: black;
  border-radius: 5px;
  box-shadow: 0 5px 0px #F64B18;
  border: 5px solid #000000;
}

.cal-imput input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 30px;
  color: black;
}

.buttons-numbers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.button-number button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
  background-color: var(--color-gray);
  border-radius: 5px;
  box-shadow: 0 5px 0px #F64B18;
  cursor: pointer;
  border: 5px solid #000000;
  font-size: 1.5rem;
  font-weight: 700;
}

.button-number button:hover {
  background-color: var(--color-gray-oscuro);
  color: var(--color-white);
  transition: all 0.2s ease;
  transform: translateY(-2px);
}

.button-number button:active {
  transform: translateY(-5px);
}

.buttons-operations {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.button-operation button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
  background-color: var(--color-gray);
  border-radius: 5px;
  box-shadow: 0 5px 0px #F64B18;
  cursor: pointer;
  border: 5px solid #000000;
  font-size: 1.5rem;
  font-weight: 700;
  transition: all 0.2s ease;

}

.button-operation button:hover {
  background-color: var(--color-gray-oscuro);
  color: var(--color-white);
  transform: translateY(-2px);
  transition: all 0.2s ease;
}

.button-operation button:active {
  transform: translateY(-5px);
}

.button-operation .limpiar {
  background-color: var(--color-green);
}

.sonido svg {
  width: 100px;
  height: 100px;
  cursor: pointer;
  position: fixed;
  right: 45vh;
  top: 60vh;
  border-radius: 50%;
  background-color: black;
  padding: 5px;
  box-shadow: 0 5px 0px #000000;
  z-index: 2;
  transition: all 0.2s ease;
  fill: var(--color-calculadora);
}

.sonido svg:active {
  transform: translateY(-5px);
  transition: all 0.2s ease;
}

.sonido svg:hover {
  transform: scale(1.1);
  transition: all 0.2s ease;
  fill: #F64B18;
  background-clip: url('../audio/bart-ay-caramba.mp3');
}

@media (max-width: 1300px) {
  body {
    background-image: none;
  }

  .calculadora {
    width: 80%;
    margin: 20px auto;
  }

  .sonido svg {
    top: unset;
    bottom: 10px;
    width: 110px;
    height: 110px;
    left: 30px;
  }
}