* {
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.menu-item {
  position: relative;
  display: inline-block;
  margin: 0px 30px;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  line-height: 1;
  color: white;
  text-decoration: none;
  padding-bottom: 5px;
  cursor: pointer;
}

.menu-item::after {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  width: 0;
  height: 7px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'  width='16' height='7' %3E%3Cpath d='M0 3.5 Q4 0 8 3.5 T16 3.5' fill='none' stroke='%23f5d623' stroke-width='1.6'   /%3E%3C/svg%3E" );
  background-repeat: repeat-x;
  transition: width 0.3s ease;
}

.menu-item:hover::after {
  width: 100%;
}